Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answer:

In [1]:
l = ["amazon", [4, 5, 7], 1.1, ("apple", "banana", "cherry")]

In [2]:
l[1]

[4, 5, 7]

Q2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
Answer:
(i) String
(ii) String 
(iii) List 
(iv) Float

In [5]:
var1 = ''
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [8]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [9]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer:
(i) / is used to divide two numeric values and obtain their quotient.
(ii) % returns the remainder of dividing two numbers.
(iii) // returns the quotient of the division operationâ€”as an integer or a floating point number
(iv) ** is used to calculate the power of a number

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Answer:

In [14]:
l = [12, 34, 43.12, "abacus", True,  5+6j, 55, 76, 89, 222]
for i in l:
    print(i)
    print(type(i))

12
<class 'int'>
34
<class 'int'>
43.12
<class 'float'>
abacus
<class 'str'>
True
<class 'bool'>
(5+6j)
<class 'complex'>
55
<class 'int'>
76
<class 'int'>
89
<class 'int'>
222
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [6]:
A = 24
B = 4
count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"A is divisible by B, and it can be divided {count} times.")
else:
    print("A is not divisible by B.")

A is divisible by B, and it can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [16]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for i in l:
    if i%3 == 0:
        print(str(i) + " is divisible by 3.")
    else:
        print(str(i) + " is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer: Mutable data types are those whose values can be changed or new values can be assigned to them. Examples include List, Sets, and Dictionary.
On the other hand, immutable datatypes are those whose values cannot be modified after they have been created. Examples include String, Tuple, and Complex.