Q1. What is a database? Differentiate between SQL and NoSQL databases

Answer: A database is a structured collection of data that enables efficient storage, retrieval, and management of information.

Here are the differences between SQL and NoSQL databases:

1. SQL databases are based on the relational model, while NoSQL databases offer various data models such as key-value, document, columnar, and graph databases.

2. SQL databases enforce strong data consistency and support complex joins and transactions, whereas NoSQL databases prioritize scalability, flexibility, and high availability.

3. SQL databases use structured schemas with tables, rows, and columns, while NoSQL databases provide flexible schemas or no schemas at all.

4. SQL databases are suitable for structured data, while NoSQL databases can handle unstructured, semi-structured, and structured data.

5. SQL databases typically have well-defined and standardized query languages like SQL, while NoSQL databases have their own query mechanisms or use APIs for data retrieval and manipulation

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

Answer: DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database. It includes commands like CREATE, DROP, ALTER, and TRUNCATE, which perform specific operations on database objects.

CREATE: CREATE is used to create new database objects like tables, views, indexes, or schemas. Here is an example:

In [ ]:
CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

This statement creates a table called "students" with columns for ID, name, and age.

DROP: DRP is used to remove existing database objects like tables, views, or indexes. Here is an example:

In [ ]:
DROP TABLE students;

This statement drops the "students" table from the database.

ALTER: It is used to modify the structure of an existing database object. For example,

In [ ]:
ALTER TABLE students ADD COLUMN email VARCHAR(100);

This statement adds an "email" column to the "students" table.

TRUNCATE: It is used to remove all data from a table while keeping its structure intact. Here is an example:

In [ ]:
TRUNCATE TABLE students;

This statement deletes all rows from the "students" table, effectively emptying it.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer: DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate and retrieve data within a database. It includes commands like INSERT, UPDATE, and DELETE, which perform specific data manipulation operations.

INSERT: It is used to add new rows of data into a table. Here is an example:

In [ ]:
INSERT INTO students (id, name, age) VALUES (1, 'John Doe', 25);

This statement inserts a new row into the "students" table with the specified values for ID, name, and age.

UPDATE: It is used to modify existing data in a table. Here is an example:

In [ ]:
UPDATE students SET age = 26 WHERE id = 1;

This statement updates the age value to 26 for the row in the "students" table where the ID is 1.

DELETE: It is used to remove rows of data from a table. Here is an example:

In [ ]:
DELETE FROM students WHERE id = 1;

This statement deletes the row from the "students" table where the ID is 1.

Q4. What is DQL? Explain SELECT with an example.

Answer: DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. The most commonly used DQL command is SELECT, which allows you to fetch specific data from one or more tables based on specified criteria.

Here's an example of using SELECT to retrieve data:

In [ ]:
SELECT name, age FROM students WHERE age >= 20;

In this example, the SELECT statement is used to fetch the "name" and "age" columns from the "students" table. The WHERE clause is used to specify a condition (age >= 20) to filter the rows. This query will return the names and ages of all students whose age is 20 or above.

Q5. Explain Primary Key and Foreign Key.

Primary Key: It is a unique identifier for a record in a table. It ensures each row has a distinct value, making it easy to identify and access specific records. For example, in a "users" table, the "user_id" column can be set as the primary key.

Foreign Key: It establishes a relationship between two tables. It refers to the primary key of another table, linking the records between them. For instance, in an "orders" table, the "customer_id" column can be a foreign key referencing the primary key of the "customers" table, connecting orders to the respective customers.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer: Here is the code to connect MySQL to Python:

In [ ]:
import mysql.connector

# Establish connection
connection = mysql.connector.connect(
    host='localhost',
    user='your_username',
    password='your_password',
    database='your_database'
)

if connection.is_connected():
    print('Connected to MySQL database!')

# Perform database operations

# Close connection
connection.close()

The cursor() method creates a cursor object that allows executing SQL queries and fetching results. The execute() method runs an SQL query using the cursor and executes it on the connected database.

Here is an example:

In [ ]:
cursor = connection.cursor()
cursor.execute("SELECT * FROM users")
results = cursor.fetchall()
for row in results:
    print(row)
cursor.close()

In this example, cursor() creates a cursor object, execute() runs the SQL query to select all rows from the "users" table, fetchall() retrieves all the results, and the loop prints each row. Finally, cursor.close() closes the cursor.

Q7. Give the order of execution of SQL clauses in an SQL query.

Answer: Here is the order of exectuion of SQL clauses in an SQL query:

FROM: Specifies the table(s) from which to retrieve data.

WHERE: Filters the data based on specified conditions.

GROUP BY: Groups the data based on specified columns.

HAVING: Filters the grouped data based on specified conditions.

SELECT: Specifies the columns to be included in the result set.

ORDER BY: Sorts the result set based on specified columns.

LIMIT/OFFSET: Limits the number of rows returned or specifies a starting point for the result set.